@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: white;
  background-repeat: no-repeat; }

.heading-secondary {
  font-family: Condensed;
  font-weight: 700;
  font-size: 4rem; }

.fnc {
  /* you can add color names and their values here
  and then simply add classes like .m--blend-$colorName to .fnc-slide 
  to apply specific color for mask blend mode */ }
  .fnc-slider {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    height: 100vh; }
    .fnc-slider *, .fnc-slider *:before, .fnc-slider *:after {
      box-sizing: border-box; }
    .fnc-slider__slides {
      position: relative;
      height: 100%;
      transition: transform 1s 0.66667s; }
    .fnc-slider .m--blend-dark .fnc-slide__inner {
      background-color: #8a8a8a; }
    .fnc-slider .m--blend-dark .fnc-slide__mask-inner {
      background-color: #575757; }
    .fnc-slider .m--navbg-dark {
      background-color: #575757; }
    .fnc-slider .m--blend-green .fnc-slide__inner {
      background-color: #6d9b98; }
    .fnc-slider .m--blend-green .fnc-slide__mask-inner {
      background-color: #42605E; }
    .fnc-slider .m--navbg-green {
      background-color: #42605E; }
    .fnc-slider .m--blend-red .fnc-slide__inner {
      background-color: #ea2329; }
    .fnc-slider .m--blend-red .fnc-slide__mask-inner {
      background-color: #990e13; }
    .fnc-slider .m--navbg-red {
      background-color: #990e13; }
    .fnc-slider .m--blend-blue .fnc-slide__inner {
      background-color: #59aecb; }
    .fnc-slider .m--blend-blue .fnc-slide__mask-inner {
      background-color: #2D7791; }
    .fnc-slider .m--navbg-blue {
      background-color: #2D7791; }
  .fnc-slide {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0); }
    .fnc-slide.m--before-sliding {
      z-index: 2 !important;
      transform: translate3d(100%, 0, 0); }
    .fnc-slide.m--active-slide {
      z-index: 1;
      transition: transform 1s 0.66667s ease-in-out;
      transform: translate3d(0, 0, 0); }
    .fnc-slide__inner {
      position: relative;
      height: 100%;
      background-size: cover;
      background-position: center top;
      transform: translate3d(0, 0, 0); }
      .m--global-blending-active .fnc-slide__inner,
      .m--blend-bg-active .fnc-slide__inner {
        background-blend-mode: luminosity; }
      .m--before-sliding .fnc-slide__inner {
        transform: translate3d(-100%, 0, 0); }
      .m--active-slide .fnc-slide__inner {
        transition: transform 1s 0.66667s ease-in-out;
        transform: translate3d(0, 0, 0); }
    .fnc-slide__mask {
      overflow: hidden;
      z-index: 1;
      position: absolute;
      right: 60%;
      top: 15%;
      width: 50.25vh;
      height: 67vh;
      margin-right: -90px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0, 6vh 0, 6vh 61vh, 44vh 61vh, 44vh 6vh, 6vh 6vh);
      transform-origin: 50% 0;
      transition-timing-function: ease-in-out; }
      .m--before-sliding .fnc-slide__mask {
        transform: rotate(-10deg) translate3d(200px, 0, 0);
        opacity: 0; }
      .m--active-slide .fnc-slide__mask {
        transition: transform 0.7s 1.22222s, opacity 0.35s 1.22222s;
        transform: translate3d(0, 0, 0);
        opacity: 1; }
      .m--previous-slide .fnc-slide__mask {
        transition: transform 0.7s 0.33333s, opacity 0.35s 0.68333s;
        transform: rotate(10deg) translate3d(-200px, 0, 0);
        opacity: 0; }
      .fnc-slide__mask-inner {
        z-index: -1;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100vw;
        height: 100vh;
        margin-left: -50vw;
        margin-top: -50vh;
        background-size: cover;
        background-position: center center;
        background-blend-mode: luminosity;
        transform-origin: 50% 16.5vh;
        transition-timing-function: ease-in-out; }
        .m--before-sliding .fnc-slide__mask-inner {
          transform: translateY(0) rotate(10deg) translateX(-200px) translateZ(0); }
        .m--active-slide .fnc-slide__mask-inner {
          transition: transform 0.7s 1.22222s;
          transform: translateX(0); }
        .m--previous-slide .fnc-slide__mask-inner {
          transition: transform 0.7s 0.33333s;
          transform: translateY(0) rotate(-10deg) translateX(200px) translateZ(0); }
    .fnc-slide__content {
      z-index: 2;
      position: absolute;
      left: 40%;
      top: 40%; }
    .fnc-slide__heading {
      margin-bottom: 10px; }
      .fnc-slide__heading-line {
        overflow: hidden;
        position: relative;
        padding-right: 20px;
        font-size: 3rem;
        color: #fff;
        font-family: 'Alegreya', serif;
        font-style: italic;
        word-spacing: 10px; }
        .fnc-slide__heading-line:nth-child(2) {
          padding-left: 30px; }
        .m--before-sliding .fnc-slide__heading-line {
          transform: translateY(100%); }
        .m--active-slide .fnc-slide__heading-line {
          transition: transform 1.5s 1s;
          transform: translateY(0); }
        .m--previous-slide .fnc-slide__heading-line {
          transition: transform 1.5s;
          transform: translateY(-100%); }
        .fnc-slide__heading-line span {
          display: block; }
          .m--before-sliding .fnc-slide__heading-line span {
            transform: translateY(-100%); }
          .m--active-slide .fnc-slide__heading-line span {
            transition: transform 1.5s 1s;
            transform: translateY(0); }
          .m--previous-slide .fnc-slide__heading-line span {
            transition: transform 1.5s;
            transform: translateY(100%); }
    .fnc-slide__action-btn {
      position: relative;
      margin-left: 200px;
      padding: 5px 15px;
      font-size: 20px;
      line-height: 1;
      color: transparent;
      border: none;
      text-transform: uppercase;
      background: transparent;
      cursor: pointer;
      text-align: center;
      outline: none; }
      .fnc-slide__action-btn span {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        perspective: 1000px;
        transform-style: preserve-3d;
        transition: transform 0.3s;
        transform-origin: 50% 0;
        line-height: 30px;
        color: #fff; }
        .fnc-slide__action-btn span:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border: 2px solid #fff;
          border-top: none;
          border-bottom: none; }
        .fnc-slide__action-btn span:after {
          content: attr(data-text);
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          line-height: 30px;
          background: #1F2833;
          opacity: 0;
          transform-origin: 50% 0;
          transform: translateY(100%) rotateX(-90deg);
          transition: opacity 0.15s 0.15s; }
      .fnc-slide__action-btn:hover span {
        transform: rotateX(90deg); }
        .fnc-slide__action-btn:hover span:after {
          opacity: 1;
          transition: opacity 0.15s; }
  .fnc-nav {
    z-index: 5;
    position: absolute;
    right: 0;
    bottom: 0; }
    .fnc-nav__bgs {
      z-index: -1;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
    .fnc-nav__bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
      .fnc-nav__bg.m--nav-bg-before {
        z-index: 2 !important;
        transform: translateX(100%); }
      .fnc-nav__bg.m--active-nav-bg {
        z-index: 1;
        transition: transform 1s 0.66667s;
        transform: translateX(0); }
    .fnc-nav__controls {
      font-size: 0; }
    .fnc-nav__control {
      overflow: hidden;
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 100px;
      height: 50px;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      transition: background-color 0.5s; }
      .fnc-nav__control.m--active-control {
        background: #1F2833; }
      .fnc-nav__control-progress {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        transform-origin: 0 50%;
        transform: scaleX(0);
        transition-timing-function: linear !important; }
        .m--with-autosliding .m--active-control .fnc-nav__control-progress {
          transform: scaleX(1); }
        .m--prev-control .fnc-nav__control-progress {
          transform: translateX(100%);
          transition: transform 0.5s !important; }
        .m--reset-progress .fnc-nav__control-progress {
          transform: scaleX(0);
          transition: transform 0s 0s !important; }
        .m--autosliding-blocked .fnc-nav__control-progress {
          transition: all 0s 0s !important;
          transform: scaleX(0) !important; }

/* NOT PART OF COMMON SLIDER STYLES */
body {
  margin: 0; }

.demo-cont {
  overflow: hidden;
  position: relative;
  height: 100vh;
  perspective: 1500px;
  background: #000;
  margin: 3rem 3rem; }
  .demo-cont__credits {
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    padding: 20px 10px 30px;
    background: #303030;
    font-family: "Alegreya", serif;
    color: #fff;
    text-align: center;
    transition: transform 0.7s;
    transform: translate3d(100%, 0, 0) rotateY(-45deg);
    will-change: transform; }
    .credits-active .demo-cont__credits {
      transition: transform 0.7s 0.23333s;
      transform: translate3d(0, 0, 0); }
    .demo-cont__credits *, .demo-cont__credits *:before, .demo-cont__credits *:after {
      box-sizing: border-box; }
    .demo-cont__credits-close {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 28px;
      height: 28px;
      cursor: pointer; }
      .demo-cont__credits-close:before, .demo-cont__credits-close:after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px;
        margin-top: -1px;
        background: #fff; }
      .demo-cont__credits-close:before {
        transform: rotate(45deg); }
      .demo-cont__credits-close:after {
        transform: rotate(-45deg); }
    .demo-cont__credits-heading {
      text-transform: uppercase;
      font-size: 40px;
      margin-bottom: 20px; }
    .demo-cont__credits-img {
      display: block;
      width: 60%;
      margin: 0 auto 30px;
      border-radius: 10px; }
    .demo-cont__credits-name {
      margin-bottom: 20px;
      font-size: 30px; }
    .demo-cont__credits-link {
      display: block;
      margin-bottom: 10px;
      font-size: 24px;
      color: #fff; }
    .demo-cont__credits-blend {
      font-size: 30px;
      margin-bottom: 10px; }

.example-slider {
  z-index: 2;
  transform: translate3d(0, 0, 0);
  transition: transform 0.7s; }
  .credits-active .example-slider {
    transform: translate3d(-400px, 0, 0) rotateY(10deg) scale(0.9); }
  .example-slider .fnc-slide-1 .fnc-slide__inner,
  .example-slider .fnc-slide-1 .fnc-slide__mask-inner {
    background-image: url("../img/3.jpg"); }
  .example-slider .fnc-slide-2 .fnc-slide__inner,
  .example-slider .fnc-slide-2 .fnc-slide__mask-inner {
    background-image: url("../img/4.jpg"); }
  .example-slider .fnc-slide-3 .fnc-slide__inner,
  .example-slider .fnc-slide-3 .fnc-slide__mask-inner {
    background-image: url("../img/2.jpg"); }
  .example-slider .fnc-slide-3 .fnc-slide__inner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1); }
  .example-slider .fnc-slide-4 .fnc-slide__inner,
  .example-slider .fnc-slide-4 .fnc-slide__mask-inner {
    background-image: url("../img/5.jpg"); }
  .example-slider .fnc-slide-4 .fnc-slide__inner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); }
  .example-slider .fnc-slide__heading,
  .example-slider .fnc-slide__action-btn,
  .example-slider .fnc-nav__control {
    font-family: "Alegreya", serif;
    font-size: 1.5rem; }
  .example-slider .fnc-slide__footer {
    font-family: 'Alegreya', serif;
    font-weight: 700; }

.colorful-switch {
  position: relative;
  width: 180px;
  height: 77.14286px;
  margin: 0 auto;
  border-radius: 32.14286px;
  background: #cfcfcf; }
  .colorful-switch:before {
    content: "";
    z-index: -1;
    position: absolute;
    left: -5px;
    top: -5px;
    width: 190px;
    height: 87.14286px;
    border-radius: 37.14286px;
    background: #314239;
    transition: background-color 0.3s; }
  .colorful-switch:hover:before {
    background: #4C735F; }
  .colorful-switch__checkbox {
    z-index: -10;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; }
  .colorful-switch__label {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 32.14286px;
    cursor: pointer; }
  .colorful-switch__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 540px;
    height: 100%;
    background: linear-gradient(90deg, #14DCD6 0, #10E7BD 180px, #EF9C29 360px, #E76339 100%);
    transition: transform 0.5s;
    transform: translate3d(-360px, 0, 0); }
    .colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__bg {
      transform: translate3d(0, 0, 0); }
  .colorful-switch__dot {
    position: absolute;
    left: 131.14286px;
    top: 50%;
    width: 5.14286px;
    height: 5.14286px;
    margin-left: -2.57143px;
    margin-top: -2.57143px;
    border-radius: 50%;
    background: #fff;
    transition: transform 0.5s;
    transform: translate3d(0, 0, 0); }
    .colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__dot {
      transform: translate3d(-80.35714px, 0, 0); }
  .colorful-switch__on {
    position: absolute;
    left: 104.14286px;
    top: 22.5px;
    width: 19.28571px;
    height: 36px;
    transition: transform 0.5s;
    transform: translate3d(0, 0, 0); }
    .colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__on {
      transform: translate3d(-80.35714px, 0, 0); }
    .colorful-switch__on__inner {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: transform 0.25s 0s cubic-bezier(0.52, -0.96, 0.51, 1.28);
      transform-origin: 100% 50%;
      transform: rotate(45deg) scale(0) translateZ(0); }
      .colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__on__inner {
        transition: transform 0.25s 0.25s cubic-bezier(0.67, -0.16, 0.47, 1.61);
        transform: rotate(45deg) scale(1) translateZ(0); }
      .colorful-switch__on__inner:before, .colorful-switch__on__inner:after {
        content: "";
        position: absolute;
        border-radius: 2.57143px;
        background: #fff; }
      .colorful-switch__on__inner:before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6.14286px; }
      .colorful-switch__on__inner:after {
        right: 0;
        top: 0;
        width: 6.14286px;
        height: 100%; }
  .colorful-switch__off {
    position: absolute;
    left: 131.14286px;
    top: 50%;
    width: 41.14286px;
    height: 41.14286px;
    margin-left: -20.57143px;
    margin-top: -20.57143px;
    transition: transform 0.5s;
    transform: translate3d(0, 0, 0); }
    .colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off {
      transform: translate3d(-80.35714px, 0, 0); }
    .colorful-switch__off:before, .colorful-switch__off:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 5.14286px;
      margin-top: -2.57143px;
      border-radius: 2.57143px;
      background: #fff;
      transition: transform 0.25s 0.25s; }
      .colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:before, .colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:after {
        transition-delay: 0s; }
    .colorful-switch__off:before {
      transform: rotate(45deg) scaleX(1) translateZ(0); }
      .colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:before {
        transform: rotate(45deg) scaleX(0) translateZ(0); }
    .colorful-switch__off:after {
      transition-timing-function: cubic-bezier(0.67, -0.16, 0.47, 1.61);
      transform: rotate(-45deg) scaleX(1) translateZ(0); }
      .colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:after {
        transition-timing-function: ease;
        transform: rotate(-45deg) scaleX(0) translateZ(0); }

.card__container {
  grid-row: 1;
  grid-column: 1;
  position: relative;
  width: 854px;
  height: 292px;
  margin: 15px auto 0; }

.card__button--next, .card__button--prev {
  position: absolute;
  top: 65%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  color: black;
  transition: all 0.6s;
  font-size: 20px;
  font-weight: bold; }

.card__button--next:hover, .card__button--prev:hover {
  opacity: 1;
  background-color: #fff; }

.card__button--prev {
  left: -180px; }

.card__button--prev::before {
  content: '<'; }

.card__button--next {
  right: -180px; }

.card__button--next::before {
  content: '>'; }

.card__items {
  list-style: none;
  position: relative;
  width: 854px;
  height: 292px;
  margin: 0;
  padding: 0; }

.card__item {
  overflow: carddden;
  position: absolute;
  z-index: 0;
  left: 377px;
  top: 146px;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 3px solid #fff;
  background-color: #48b1bf;
  border-radius: 8px;
  cursor: pointer; }

.card__image {
  width: 100%;
  height: 100%;
  background-position: center;
  filter: brightness(1); }

.card__image:hover {
  filter: none;
  filter: brightness(1.5) drop-shadow(8px 8px 10px gray);
  background-color: #06beb6; }

.card {
  display: grid;
  color: black;
  perspective: 180rem;
  -moz-perspective: 180rem; }
  .card--account {
    grid-row: 2/2; }
  .card__side {
    grid-row: 1;
    grid-column: 1;
    transition: all 1s ease;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front-1 {
      background: url(../img/mt.jpg) white;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 23%, 23% 0%); }
    .card__side--front-2 {
      background: url(../img/agv2.jpg);
      background-size: cover;
      background-repeat: no-repeat; }
    .card__side--front-3 {
      background: url(../img/muc.jpg) white;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .card__side--front-4 {
      background: url(../img/al.png) white;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 23%, 77% 0%); }
    .card__side--front-5 {
      background: url(../img/arai.svg) white;
      background-size: contain;
      background-repeat: no-repeat;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 23% 100%, 0% 77%); }
    .card__side--front-6 {
      background: url(../img/dan.png) white;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .card__side--front-7 {
      background: url(../img/shark.png) white;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .card__side--front-8 {
      background: url(../img/caberg.png) white;
      background-size: contain;
      background-repeat: no-repeat;
      clip-path: polygon(0% 0%, 0% 100%, 77% 100%, 100% 77%, 100% 0%);
      background-position: center; }
    .card__side--front-9 {
      background-color: #007FFF; }
    .card__side--front-10 {
      background-color: #007FFF; }
    .card__side--front-11 {
      background-color: #007FFF; }
    .card__side--front-12 {
      background-color: #007FFF; }
    .card__side--front-13 {
      background-image: url("../img/bac.jpg");
      background-size: contain;
      color: white;
      text-align: center;
      padding: 10px; }
    .card__side--front-14 {
      background-color: #007FFF; }
    .card__side--front-15 {
      background-color: #007FFF; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 23%, 23% 0%); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side--back-4 {
        background-image: linear-gradient(to right bottom, #ffafbd, #ffc3a0);
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 23%, 77% 0%); }
      .card__side--back-5 {
        background-image: linear-gradient(to right bottom, #06beb6, #48b1bf);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 23% 100%, 0% 77%); }
      .card__side--back-6 {
        background-image: linear-gradient(to right bottom, #42275a, #734b6d); }
      .card__side--back-7 {
        background-image: linear-gradient(to right bottom, #bdc3c7, #2c3e50); }
      .card__side--back-8 {
        background-image: linear-gradient(to right bottom, #de6262, #ffb88c);
        clip-path: polygon(0% 0%, 0% 100%, 77% 100%, 100% 77%, 100% 0%); }
      .card__side--back-9 {
        background-image: linear-gradient(to right bottom, #06beb6, #48b1bf); }
      .card__side--back-10 {
        background-image: linear-gradient(to right bottom, #42275a, #734b6d); }
      .card__side--back-11 {
        background-image: linear-gradient(to right bottom, #bdc3c7, #2c3e50); }
      .card__side--back-12 {
        background-image: linear-gradient(to right bottom, #de6262, #ffb88c); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

.bg-video {
  height: 100%;
  width: 100%;
  opacity: .50;
  overflow: hidden;
  grid-row: 1;
  grid-column: 1; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.productS {
  display: grid;
  margin: 5rem 2rem;
  grid-template-columns: repeat(2, auto) minmax(200px, 1fr); }
  .productS__featured {
    width: 48rem;
    object-fit: cover; }
    .productS__featured-box {
      grid-column: 2/2;
      z-index: 1;
      position: relative;
      align-self: center; }
  .productS__thumbnail {
    display: block;
    max-width: 18rem;
    max-height: 18rem;
    object-fit: cover;
    opacity: 0.5;
    border: 2px solid black;
    margin: 5px; }
    .productS__thumbnail:hover {
      opacity: 1.0;
      background-color: white; }
  .productS__lens {
    position: absolute;
    z-index: 2;
    height: 12.5rem;
    width: 12.5rem;
    cursor: none;
    background-repeat: no-repeat;
    border: 2px solid black;
    overflow: hidden;
    opacity: 0;
    border-radius: 50%; }
  .productS__arrow {
    width: 30px;
    transform: rotate(90deg); }
  .productS__wrapper {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 60rem;
    align-items: center; }
  .productS__slider {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: nowrap;
    overflow: hidden; }

.active {
  opacity: 1; }

.bi-star-fill {
  stroke: black;
  fill: yellow;
  width: 2rem;
  height: 2rem; }

.productD {
  grid-column: 3/3; }
  .productD__price {
    font-family: Roboto;
    padding-top: 2rem;
    font-size: 3rem;
    color: orangered;
    border-bottom: 1px solid black;
    margin-bottom: 2rem; }
  .productD__sizes {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: inline-block; }
  .productD__button {
    width: 100%;
    margin-top: 3rem; }

.productF {
  grid-column: 1/-1; }
  .productF__details + p, .productF__details + h3 {
    font-family: Algreya;
    font-style: italic;
    padding: 2rem;
    font-size: 3rem;
    word-spacing: 5px; }

.btn, .btn:link, .btn:visited {
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--yellow {
  background-color: #ffb900;
  color: #777; }
  .btn--yellow::after {
    background-color: #ffb900; }
  .btn--yellow:hover {
    background-color: #ff7730; }

.btn--home {
  margin: 50% auto;
  border-radius: 50px;
  color: black; }

.btn--green {
  background-color: #7ed56f;
  color: #fff; }
  .btn--green::after {
    background-color: #7ed56f; }
  .btn--green:hover {
    background-color: #28b485; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text, .btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #55c57a;
  padding: 20px;
  transition: all .2s;
  margin: 1rem; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-10px);
  cursor: pointer; }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn-text--round {
  border-radius: 50%; }

.btn-small {
  font-size: 1rem;
  padding: 1.5rem;
  margin: .5rem; }
  .btn-small--text {
    font-size: 1.3rem;
    padding: .5rem;
    margin: .5rem; }

.btn-show {
  border: 3px solid black !important; }

.btn-selected {
  background-color: #55c57a;
  color: #fff !important;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.collapsible {
  font-family: Algreya;
  background-color: #7ed56f;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 3rem;
  margin-top: 1rem; }

.active, .collapsible:hover {
  background-color: #28b485; }

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px; }

.active:after {
  content: "\2212"; }

.content {
  font-family: Algreya;
  font-size: 2.5rem;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1; }
  .content__header {
    margin: 2rem;
    font-size: 4rem; }
    .content__header ~ ul {
      margin: 4rem; }

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  background-color: #ebe6e4;
  border-radius: 5px;
  transition: all .8s ease-in-out; }
  .product-card:hover {
    transform: translateY(-1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: #2f2fa2; }
  .product-card__image {
    width: 100%;
    grid-column: 1/-1;
    object-fit: cover; }
  .product-card__sizes {
    grid-row: 3/3;
    align-self: center;
    transform: translateY(-1rem); }
  .product-card__color {
    align-self: center;
    grid-row: 3/3;
    transform: translateY(-1rem);
    border-left: 2px solid grey; }
  .product-card__price {
    font-size: 3rem;
    position: absolute;
    top: 5px;
    left: 5px;
    color: red; }
  .product-card__rating {
    position: absolute;
    top: 10px;
    right: 10px; }
  .product-card__heading {
    font-size: 2.8rem;
    text-align: center;
    transform: translateY(-4rem);
    grid-row: 2/2;
    grid-column: 1/-1;
    justify-self: flex-end;
    padding: 0 10px;
    background-color: #101d2c;
    color: white;
    margin: 0 10px;
    font-style: normal;
    font-weight: normal; }

.cart {
  border-collapse: collapse;
  font-size: 3rem;
  text-align: center; }
  .cart-wrapper {
    display: flex;
    justify-content: space-evenly; }
  .cart-headings {
    font-size: 30px; }
    .cart-headings > th {
      padding: 0 4rem;
      background-color: grey;
      color: black; }
  .cart-product {
    background-color: lightgray; }
    .cart-product > td {
      font-size: 2rem;
      text-align: center;
      padding: 4rem;
      border-bottom: 1px solid black; }
    .cart-product__quantity > input {
      width: 40px; }
    .cart-product__image {
      width: 100%; }
      .cart-product__imagebox {
        width: 15rem; }
    .cart-product__name {
      padding: 4rem; }
    .cart-product__info {
      display: flex;
      font-size: 2rem;
      justify-content: space-between; }

.total-headings > th {
  font-size: 3rem;
  background-color: grey;
  padding: 1rem; }

.total-product > td {
  font-size: 2rem;
  padding: 2rem; }

div#oxy-shopping-cart-wrapper {
  background: #fff;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px;
  margin: 0 auto; }

div#oxy-shopping-cart-wrapper p {
  text-align: center;
  color: #666;
  font-size: 16px;
  line-height: 24px; }

div#oxy-shopping-cart-wrapper a {
  color: #00ADEF;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 24px;
  padding: 18px 32px;
  border: 1px solid #00ADEF;
  transition: all ease 0.2s;
  margin-bottom: 12px; }

div#oxy-shopping-cart-wrapper a:hover {
  color: #085888;
  border: 1px solid #085888; }

.account__image {
  width: 100%; }
  .account__image-box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url("../admin/images/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 1/1;
    grid-column: 1/4;
    margin: 0 auto; }

.account__imginput {
  position: absolute;
  top: 218px;
  left: 283px; }

.account__imgbtn {
  position: absolute;
  top: 248px !important;
  left: 278px !important; }

.account__details {
  justify-content: center;
  font-family: Alegreya;
  font-size: 3rem;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, minmax(max-content, max-content)); }

.account__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(1fr, 20px));
  grid-template-rows: 1fr;
  grid-gap: 2rem; }

.account__form {
  position: relative; }

.account__form > input[type="text"], .account__form > input[type="email"], .account__form > input[type="password"] {
  width: 100%;
  height: 72%;
  /* border-radius: 9px; */
  background: transparent;
  border: none;
  font-size: 3rem;
  font-family: Alegreya; }

.account__form > input[type="submit"] {
  position: absolute;
  right: -13px;
  top: 5px;
  padding: 4px;
  border-radius: 13px;
  background: green; }

.section-mail {
  color: #fff;
  font: 300 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #574ca6; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mail {
  position: relative;
  height: 620px;
  width: 700px;
  display: flex;
  justify-content: center;
  background-color: #574ca6;
  box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden; }
  .mail__para {
    font-size: 2rem;
    padding: 10px; }
  .mail__circle, .mail__circle-outer {
    position: absolute;
    height: 300px;
    width: 300px;
    border: 5px solid #5776a8;
    background-color: none;
    top: 143px;
    left: 200px;
    border-radius: 50%;
    z-index: 5; }
  .mail__circle-outer {
    height: 290px;
    width: 290px;
    top: 148px;
    left: 205px;
    background-color: #5776a8;
    z-index: 4; }
  .mail__button {
    position: absolute;
    height: 70px;
    width: 239px;
    top: 540px;
    border-radius: 25px;
    background: white;
    color: #83ab6a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10; }
  .mail__button:hover {
    background: #83ab6a;
    color: white; }
  .mail__icon {
    position: absolute;
    z-index: 2;
    top: 130px;
    left: 140px;
    transform: translate3d(0, 0, 0);
    fill: none;
    stroke-width: 2px;
    stroke: #ecf0f1;
    stroke-linecap: square;
    stroke-dasharray: 325 325;
    z-index: 6; }
  .mail #cb {
    display: none; }
  #cb:checked ~ .mail__button {
    animation: button 1.5s ease-in-out 1.7s;
    animation-fill-mode: both; }
  #cb:checked ~ .mail__reset {
    animation: reset 1s ease-in-out 3.7s;
    animation-fill-mode: both; }
  #cb:checked ~ .mail__circle {
    animation: circle 1s ease-in-out;
    animation-fill-mode: both; }
  #cb:checked ~ .mail__circle-outer {
    animation: circle 0.8s ease-in-out;
    animation-fill-mode: both;
    z-index: 5; }
  #cb:checked ~ .mail__mail {
    stroke-dashoffset: 326;
    transition: stroke-dashoffset 1s ease-in-out; }
  #cb:checked ~ .mail__plane {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s ease-in-out .6s;
    animation: fly 2.4s ease-in-out;
    animation-fill-mode: both; }

@keyframes circle {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.2); }
  100% {
    transform: scale(0); } }

@keyframes fly {
  0%, 50% {
    transform: translate3d(0, 0, 0) scale(1); }
  60% {
    transform: translate3d(-10px, 5px, 0) scale(1.05); }
  70% {
    opacity: 1; }
  85% {
    opacity: 0; }
  100% {
    transform: translate3d(150px, -150px, 0) scale(0.4);
    opacity: 0; } }

@keyframes button {
  0%, 30% {
    transform: scale(1);
    color: white;
    background-color: #83ab6a; }
  50% {
    color: #83ab6a;
    width: 50px;
    transform: scale(1);
    background-color: #83ab6a; }
  100% {
    transform: scale(0);
    width: 50px;
    color: #83ab6a;
    background-color: #83ab6a; } }
  .mail__reset {
    opacity: 0;
    z-index: 5; }

@keyframes reset {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .mail__mail {
    position: absolute;
    left: 336px;
    top: 276px;
    stroke-dashoffset: 0;
    transform: scale(1.5); }
  .mail__plane {
    position: absolute;
    left: 320px;
    top: 240px;
    stroke-dashoffset: 325;
    transform: scale(1.5); }

.forgot__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bold;
  font-size: 3rem; }

.forgot__label {
  display: block;
  margin-bottom: 30px; }

.forgot__input {
  height: 30px;
  width: 100%;
  display: block;
  font-size: 1.5rem; }

.forgot__submit {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px; }

.login__back {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  outline: none;
  border: none;
  padding: 20px;
  font-size: 2rem;
  font-style: normal;
  color: white;
  background-color: transparent;
  text-decoration: none;
  border-radius: 100px; }

.rate {
  float: left;
  height: 46px;
  padding: 0 10px; }

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px; }

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc; }

.rate:not(:checked) > label:before {
  content: '★ '; }

.rate > input:checked ~ label {
  color: #ffc700; }

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217; }

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08; }

.review__box {
  margin: 80px; }

.review__heading {
  font-size: 3rem;
  color: #365899; }

.review__paragraph {
  font-size: 2rem; }

.review__input {
  width: 50%; }

.avatar_comment {
  display: block; }

.avatar_comment img {
  height: 48px;
  width: 48px; }

.ccicon {
  height: 38px;
  position: absolute;
  right: 6px;
  top: calc(50% - 17px);
  width: 60px; }

/* CREDIT CARD IMAGE STYLING */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important; }

#ccsingle {
  position: absolute;
  right: 15px;
  top: 20px; }

#ccsingle svg {
  width: 100px;
  max-height: 60px; }

.creditcard svg#cardfront,
.creditcard svg#cardback {
  width: 100%;
  -webkit-box-shadow: 1px 5px 6px 0px black;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 22px; }

.creditcard .grey {
  fill: blue; }

.creditcard .greydark {
  fill: red; }

/* FRONT OF CARD */
#svgname {
  text-transform: uppercase; }

#cardfront .st2 {
  fill: #FFFFFF; }

#cardfront .st3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600; }

#cardfront .st4 {
  font-size: 54.7817px; }

#cardfront .st5 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400; }

#cardfront .st6 {
  font-size: 33.1112px; }

#cardfront .st7 {
  opacity: 0.6;
  fill: #FFFFFF; }

#cardfront .st8 {
  font-size: 24px; }

#cardfront .st9 {
  font-size: 36.5498px; }

#cardfront .st10 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300; }

#cardfront .st11 {
  font-size: 16.1716px; }

#cardfront .st12 {
  fill: #4C4C4C; }

.creditcard {
  width: 100%;
  max-width: 400px;
  position: relative;
  cursor: pointer; }

.order__master {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid black;
  padding: 20px; }

.order__container {
  margin: 30px; }

.order__heading {
  font-size: 2rem;
  color: #354050 !important; }

.order__heading-primary {
  font-size: 4rem;
  font-weight: 500;
  color: #354050 !important; }

.order__button {
  grid-column: 5/6;
  grid-row: 1/3; }

.order__master {
  display: grid; }

.order__child {
  border: 1px solid black;
  padding: 20px 150px 20px 100px;
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 10px; }

.order__status {
  background-color: #dff0d8;
  border: 2px solid #d0e9c6;
  padding: 10px;
  transform: translateX(-80px);
  color: #3c763d !important;
  margin-bottom: 20px; }

.order__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.order__size {
  grid-row: 2/3; }

.order__color {
  grid-row: 3/4; }

.order__price {
  align-self: center; }

.order__button {
  border-radius: 50px;
  height: 50%;
  padding: 10px 10px;
  align-self: center; }

.green {
  color: #3c763d !important; }

.search-error-bg {
  font-family: 'Noto Serif', serif;
  background-color: #EEEEF5;
  min-height: 100vh;
  width: 100%; }

.search-error {
  background-color: #EEEEF5;
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 8px;
  transform: translate(41%, 16%); }

.search-error-heading {
  font-size: 1rem !important;
  color: rgba(0, 0, 0, 0.8);
  width: 65%;
  margin-bottom: 10px; }

.search-error-text {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.6); }

.search-error-img {
  width: 20%;
  margin-bottom: 15px; }

.footer {
  background: black;
  margin-top: 30px;
  color: white; }
  .footer__top {
    display: flex;
    font-family: 'Alegreya', serif;
    padding: 50px;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center; }
  .footer__leftbox, .footer__rightbox, .footer__centerbox, .footer__aboutus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 60px;
    height: 100%; }
  .footer__leftbox {
    align-items: center;
    margin-left: 0; }
  .footer__name {
    color: #40E0D0;
    font-size: 8rem; }
  .footer__logo {
    width: 20rem; }
  .footer__header {
    font-size: 4rem;
    color: yellow;
    padding: 5px;
    margin-bottom: 10px; }
  .footer__text {
    font-family: Roboto;
    margin-bottom: 10px; }
  .footer__subscribe {
    white-space: nowrap;
    color: white;
    margin-bottom: 10px; }
  .footer__social-container {
    margin: 0 auto;
    transform: translateX(50%); }
  .footer__bottom {
    padding: 20px;
    display: flex;
    justify-content: flex-end; }
  .footer__email {
    width: 100%;
    padding: 5px;
    border-radius: 10px; }
  .footer__copyright {
    align-self: center;
    font-size: 2rem;
    text-align: right; }
  .footer__social-container a {
    background: yellow;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px; }
  .footer__button {
    margin-left: 60px;
    margin: 10px;
    background: #55c57a;
    border: none;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    transform: translateX(80px); }

.login__social-container {
  margin: 20px 0; }

.login__social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px; }

.main {
  background-color: black; }

.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-size: 2rem;
  font-family: 'Alegreya', serif;
  align-items: center; }
  .header__button {
    color: white;
    text-decoration: none; }
  .header__centerbox {
    display: flex;
    align-items: center;
    font-size: 4rem; }
  .header__leftbox {
    display: flex;
    margin: auto 4rem;
    width: 30rem;
    justify-content: space-between;
    position: relative; }
  .header__rightbox {
    margin: auto 4rem;
    display: flex;
    width: 12rem;
    justify-content: space-between; }
  .header__logo {
    margin-top: 1.5rem;
    height: 10rem; }

.search__box {
  background-color: black;
  height: 40px;
  border-radius: 50px;
  padding: 10px; }
  .search__box:hover > .search__text {
    width: 240px;
    padding: 0 6px; }
  .search__box:hover {
    background-color: white; }
  .search__box:hover > .search__button {
    transform: translateX(5px) translateY(-10px); }

.search__button {
  outline: none;
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transform: translateY(-10px); }

.search__text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 30px;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  transform: translateY(-10px); }

.navigation {
  background: black;
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Alegreya', serif; }

.navigation ul {
  list-style: none;
  position: relative; }

.navigation ul li {
  display: inline-block;
  background: black;
  margin: 0 5px; }

.navigation ul li a {
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px; }

.navigation ul li a:hover {
  color: #55c57a;
  border-radius: 5px;
  box-shadow: 0 0 5px #00FF00,
 0 0 10px #32CD32; }

.navigation ul ul li a:hover {
  box-shadow: none; }

.navigation ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid #55c57a;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
  z-index: 100; }

.navigation ul ul ul {
  border-top: none; }

.navigation ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible; }

.navigation ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

.navigation ul ul li a {
  line-height: 50px; }

.navigation ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px; }

.show, .icon, .navigation__checkbox {
  display: none; }

.fa-plus {
  font-size: 15px;
  margin-left: 40px; }

@media all and (max-width: 968px) {
  .navigation ul {
    margin-right: 0px;
    float: left; }
  .navigation .logo {
    padding-left: 30px;
    width: 100%; }
  .show + a, ul {
    display: none; }
  .navigation ul li, .navigation ul ul li {
    display: block;
    width: 100%; }
  .navigation ul li a:hover {
    box-shadow: none; }
  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer; }
  .show:hover {
    color: cyan; }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px; }
  .navigation ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible; }
  .navigation ul ul a {
    padding-left: 40px; }
  .navigation ul ul ul a {
    padding-left: 80px; }
  .navigation ul ul ul li {
    position: static; }
  [id^=btn]:checked + ul {
    display: block; }
  .navigation ul ul li {
    border-bottom: 0px; }
  span.cancel:before {
    content: '\f00d'; } }

.navigation__items {
  display: flex;
  justify-content: space-around; }

.section-brands {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  margin: 0 2.5rem;
  padding: 10rem 20rem;
  background-image: linear-gradient(200deg, rgba(213, 213, 213, 0.01) 0%, rgba(213, 213, 213, 0.01) 14.286%, rgba(140, 140, 140, 0.01) 14.286%, rgba(140, 140, 140, 0.01) 28.572%, rgba(52, 52, 52, 0.01) 28.572%, rgba(52, 52, 52, 0.01) 42.858%, rgba(38, 38, 38, 0.01) 42.858%, rgba(38, 38, 38, 0.01) 57.144%, rgba(159, 159, 159, 0.01) 57.144%, rgba(159, 159, 159, 0.01) 71.43%, rgba(71, 71, 71, 0.01) 71.43%, rgba(71, 71, 71, 0.01) 85.716%, rgba(88, 88, 88, 0.01) 85.716%, rgba(88, 88, 88, 0.01) 100.002%), linear-gradient(337deg, rgba(25, 25, 25, 0.01) 0%, rgba(25, 25, 25, 0.01) 12.5%, rgba(150, 150, 150, 0.01) 12.5%, rgba(150, 150, 150, 0.01) 25%, rgba(84, 84, 84, 0.01) 25%, rgba(84, 84, 84, 0.01) 37.5%, rgba(85, 85, 85, 0.01) 37.5%, rgba(85, 85, 85, 0.01) 50%, rgba(188, 188, 188, 0.01) 50%, rgba(188, 188, 188, 0.01) 62.5%, rgba(80, 80, 80, 0.01) 62.5%, rgba(80, 80, 80, 0.01) 75%, rgba(73, 73, 73, 0.01) 75%, rgba(73, 73, 73, 0.01) 87.5%, rgba(219, 219, 219, 0.01) 87.5%, rgba(219, 219, 219, 0.01) 100%), linear-gradient(203deg, rgba(233, 233, 233, 0.01) 0%, rgba(233, 233, 233, 0.01) 25%, rgba(114, 114, 114, 0.01) 25%, rgba(114, 114, 114, 0.01) 50%, rgba(164, 164, 164, 0.01) 50%, rgba(164, 164, 164, 0.01) 75%, rgba(228, 228, 228, 0.01) 75%, rgba(228, 228, 228, 0.01) 100%), linear-gradient(317deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 16.667%, rgba(44, 44, 44, 0.02) 16.667%, rgba(44, 44, 44, 0.02) 33.334%, rgba(166, 166, 166, 0.02) 33.334%, rgba(166, 166, 166, 0.02) 50.001%, rgba(2, 2, 2, 0.02) 50.001%, rgba(2, 2, 2, 0.02) 66.668%, rgba(23, 23, 23, 0.02) 66.668%, rgba(23, 23, 23, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%), linear-gradient(328deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 12.5%, rgba(116, 116, 116, 0.03) 12.5%, rgba(116, 116, 116, 0.03) 25%, rgba(214, 214, 214, 0.03) 25%, rgba(214, 214, 214, 0.03) 37.5%, rgba(217, 217, 217, 0.03) 37.5%, rgba(217, 217, 217, 0.03) 50%, rgba(68, 68, 68, 0.03) 50%, rgba(68, 68, 68, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 75%, rgba(200, 200, 200, 0.03) 75%, rgba(200, 200, 200, 0.03) 87.5%, rgba(198, 198, 198, 0.03) 87.5%, rgba(198, 198, 198, 0.03) 100%), linear-gradient(90deg, rgba(195, 195, 195, 0.03) 0%, rgba(195, 195, 195, 0.03) 16.667%, rgba(177, 177, 177, 0.03) 16.667%, rgba(177, 177, 177, 0.03) 33.334%, rgba(170, 170, 170, 0.03) 33.334%, rgba(170, 170, 170, 0.03) 50.001%, rgba(158, 158, 158, 0.03) 50.001%, rgba(158, 158, 158, 0.03) 66.668%, rgba(121, 121, 121, 0.03) 66.668%, rgba(121, 121, 121, 0.03) 83.335%, rgba(146, 146, 146, 0.03) 83.335%, rgba(146, 146, 146, 0.03) 100.002%), linear-gradient(268deg, rgba(103, 103, 103, 0.03) 0%, rgba(103, 103, 103, 0.03) 25%, rgba(112, 112, 112, 0.03) 25%, rgba(112, 112, 112, 0.03) 50%, rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%, rgba(227, 227, 227, 0.03) 75%, rgba(227, 227, 227, 0.03) 100%), linear-gradient(97deg, black, black); }

.section-stories {
  margin: 0 2.5rem;
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center; }

.fa-shopping-bag, .fa-user-circle {
  color: white; }

* {
  box-sizing: border-box; }

.section-login {
  background: linear-gradient(90deg, rgba(37, 163, 10, 0.5), rgba(138, 191, 54, 0.5), rgba(239, 219, 97, 0.5)), url("../img/login/kk.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Ibarra Real Nova', serif;
  height: 100vh;
  margin: -20px 0 50px;
  opacity: 0.8; }

.login__header--primary {
  font-weight: bold;
  font-size: 3.5rem;
  margin: 0; }

.login__header--secondary {
  text-align: center; }

.login__text {
  font-size: 2rem;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px; }

span {
  font-size: 1.5rem; }

.login__link {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0; }

.login__button {
  border-radius: 20px;
  border: 1px solid white;
  background-image: linear-gradient(399deg, #f372d1 0%, #2c13f1 100%);
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in; }

.login__container {
  width: 100%; }

.login__button:active {
  transform: scale(0.95); }

.login__button:focus {
  outline: none; }

.login__button.ghost {
  background-color: transparent;
  border-color: #FFFFFF; }

.login__form {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center; }

.login__control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-family: 'Ibarra Real Nova', serif; }

.container {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px; }

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out; }

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2; }

.container.right-panel-active .sign-in-container {
  transform: translateX(100%); }

.container.right-panel-active .sign-in-container {
  color: transparent;
  opacity: 0; }

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
  color: black; }

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s; }

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1; }
  50%, 100% {
    opacity: 1;
    z-index: 5; } }

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100; }

.container.right-panel-active .overlay-container {
  transform: translateX(-100%); }

.overlay {
  background-image: linear-gradient(399deg, #f372d1 0%, #2c13f1 100%);
  /* background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out; }

.container.right-panel-active .overlay {
  transform: translateX(50%); }

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out; }

.overlay-left {
  transform: translateX(-20%); }

.container.right-panel-active .overlay-left {
  transform: translateX(0); }

.overlay-right {
  right: 0;
  transform: translateX(0); }

.container.right-panel-active .overlay-right {
  transform: translateX(20%); }

.social-container {
  margin: 20px 0; }

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px; }

.section-product {
  font-family: Alegreya;
  font-weight: 700; }

.section-review {
  margin: 50px; }

.section-products {
  display: grid;
  margin: 10rem 5rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 36rem));
  grid-gap: 7rem; }

.section-account {
  margin: 2.5rem auto;
  padding: 10rem 20rem;
  background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 2px, transparent 2px, transparent 4px), linear-gradient(45deg, rgba(18, 105, 233, 0.5), rgba(166, 255, 155, 0.5)), url("../img/account.jpg");
  background-size: cover;
  width: 70vw;
  border-radius: 10px; }

.section-failure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: red; }

.vcontainer {
  background-color: white;
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.05); }
  .vcontainer__para {
    align-self: flex-end;
    position: absolute;
    font-size: 2rem; }

.fcircle,
.fcircle-border {
  width: 60px;
  height: 60px;
  border-radius: 50%; }

.fcircle {
  z-index: 1;
  position: relative;
  background: white;
  transform: scale(2);
  animation: failure-anim 1000ms ease;
  border-color: red; }

.fcircle-border {
  z-index: 0;
  position: absolute;
  background: red;
  transform: scale(2.1);
  animation: fcircle-anim 700ms ease; }

@keyframes failure-anim {
  0% {
    transform: scale(0); }
  30% {
    transform: scale(0); }
  100% {
    transform: scale(2); } }

@keyframes fcircle-anim {
  from {
    transform: scale(0); }
  to {
    transform: scale(2.1); } }

.failure::before,
.failure::after {
  content: "";
  display: block;
  height: 4px;
  background: red;
  position: absolute; }

.failure::before {
  width: 30px;
  top: 50%;
  left: 25%;
  transform: rotateZ(50deg); }

.failure::after {
  width: 30px;
  top: 50%;
  left: 25%;
  transform: rotateZ(-50deg); }

.section-success {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #7a9; }

.vcontainer {
  background-color: white;
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.05); }
  .vcontainer__para {
    align-self: flex-end;
    position: absolute;
    font-size: 2rem; }

.scircle,
.scircle-border {
  width: 60px;
  height: 60px;
  border-radius: 50%; }

.scircle {
  z-index: 1;
  position: relative;
  background: white;
  transform: scale(2);
  animation: success-anim 1000ms ease; }

.scircle-border {
  z-index: 0;
  position: absolute;
  background: #8f6;
  transform: scale(2.1);
  animation: circle-anim 700ms ease; }

@keyframes success-anim {
  0% {
    transform: scale(0); }
  30% {
    transform: scale(0); }
  100% {
    transform: scale(2); } }

@keyframes scircle-anim {
  from {
    transform: scale(0); }
  to {
    transform: scale(2.1); } }

.ssuccess::before,
.ssuccess::after {
  content: "";
  display: block;
  height: 4px;
  background: #8f6;
  position: absolute; }

.ssuccess::before {
  width: 17px;
  top: 58%;
  left: 23%;
  transform: rotateZ(50deg); }

.ssuccess::after {
  width: 30px;
  top: 50%;
  left: 35%;
  transform: rotateZ(-50deg); }

.section-address {
  margin: 50px; }

.address__wrapper {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
  grid-gap: 4rem;
  font-size: 1.5rem; }

.address__seleceted {
  position: absolute;
  top: -3rem;
  left: 0;
  font-weight: bold;
  font-size: 2rem;
  color: red; }

.address__card {
  text-align: center;
  font-size: 2rem;
  padding: 20px;
  position: relative;
  border-radius: 20px; }
  .address__card > a {
    padding: 10px;
    color: green;
    text-decoration: none; }

.address__card:not(:last-child) {
  background-image: radial-gradient(circle at center center, rgba(23, 23, 23, 0), #171717), repeating-linear-gradient(135deg, #171717 0px, #171717 4px, transparent 4px, transparent 6px), repeating-linear-gradient(45deg, #2b2b2b 0px, #2b2b2b 3px, transparent 3px, transparent 6px), linear-gradient(90deg, #171717, #171717);
  color: white; }

.address__card:last-child svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.section-credit {
  margin: 50px; }

.credit__wrapper {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 4rem;
  font-size: 1.5rem; }

.section-orders {
  margin: 100px;
  font-family: 'Lato';
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 400; }
