$color-white: #fff;
$color-black: #000;
$color-primary: #55c57a;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-card1-light: #7ed56f;
$color-card1-dark: #28b485;

$color-card2-light: #ffb900;
$color-card2-dark: #ff7730;

$color-card3-light: #2998ff;
$color-card3-dark: #5643fa;

$color-card4-light: #ffafbd;
$color-card4-dark:#ffc3a0;

$color-card5-light:#06beb6 ;
$color-card5-dark:#48b1bf;



$color-card6-light:#42275a;
$color-card6-dark:#734b6d;

$color-card7-light:#bdc3c7;
$color-card7-dark:#2c3e50;

$color-card8-light:#de6262;
$color-card8-dark:#ffb88c;

