.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-size: 2rem;
    font-family: 'Alegreya', serif;
    align-items: center;

    &__button{
        color: white;
        text-decoration: none;
    }
    
   
    &__centerbox{
        display: flex;
        align-items: center;
        font-size: 4rem;
       
    }

    

    &__leftbox {
        display: flex;
        margin: auto 4rem;
        width: 30rem;
        justify-content: space-between;
        position: relative
    }
     &__rightbox{
        margin: auto 4rem;
        display: flex;
        width: 12rem;
        justify-content: space-between;
    }
    &__logo{
        margin-top:1.5rem;
        height: 10rem;
    }
}


.search{
    &__box{
      background-color: black;
      height: 40px;
      border-radius: 50px;
      padding: 10px;

      &:hover > .search__text{
width: 240px;
padding: 0 6px;
      }
      &:hover {
      background-color: white;
              }
              &:hover > .search__button{
               transform: translateX(5px) translateY(-10px);
                      }

    }
    &__button{
     outline: none;
        color: #e84118;
        float:right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    display: flex;
justify-content: center;
align-items: center;
background-color: black;   
transform: translateY(-10px); 
}

&__text{
    // display: block !important;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 30px;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    transform: translateY(-10px); 
}


}