

  .navigation{
    background: black;
   
    
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
  }
  
  
  .navigation ul{

  
    list-style: none;
    position: relative;
  }
  .navigation ul li{
  
    display: inline-block;
    background:black;
    margin: 0 5px;
  }
  .navigation ul li a{
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
  }
  .navigation ul li a:hover{
    color: $color-primary;
    border-radius: 5px;
    box-shadow:  0 0 5px #00FF00,
                 0 0 10px #32CD32;
  }
  .navigation ul ul li a:hover{
    box-shadow: none;
  }
  .navigation ul ul{
    position: absolute;
    top: 90px;
    border-top: 3px solid $color-primary;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    z-index: 100;
  }
  .navigation ul ul ul{
    border-top: none;
  }
  .navigation ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  .navigation ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }
  .navigation ul ul li a{
    line-height: 50px;
  }
  .navigation ul ul ul li{
    position: relative;
    top: -60px;
    left: 150px;
  }
  .show,.icon,.navigation__checkbox{
    display: none;
  }
  .fa-plus{
    font-size: 15px;
    margin-left: 40px;
  }
  @media all and (max-width: 968px) {
    .navigation ul{
      margin-right: 0px;
      float: left;
    }
    .navigation .logo{
      padding-left: 30px;
      width: 100%;
    }
    .show + a, ul{
      display: none;
    }
    .navigation ul li,.navigation ul ul li{
      display: block;
      width: 100%;
    }
    .navigation ul li a:hover{
      box-shadow: none;
    }
    .show{
      display: block;
      color: white;
      font-size: 18px;
      padding: 0 20px;
      line-height: 70px;
      cursor: pointer;
    }
    .show:hover{
      color: cyan;
    }
    .icon{
      display: block;
      color: white;
      position: absolute;
      top: 0;
      right: 40px;
      line-height: 70px;
      cursor: pointer;
      font-size: 25px;
    }
    .navigation ul ul{
      top: 70px;
      border-top: 0px;
      float: none;
      position: static;
      display: none;
      opacity: 1;
      visibility: visible;
    }
 
      
    .navigation ul ul a{
      padding-left: 40px;
    }
    .navigation ul ul ul a{
      padding-left: 80px;
    }
    .navigation ul ul ul li{
      position: static;
    }
    [id^=btn]:checked + ul{
      display: block;
    }
    .navigation ul ul li{
      border-bottom: 0px;
    }
    span.cancel:before{
      content: '\f00d';
    }
  }
  .navigation__items{
    display: flex;
    justify-content: space-around;
  }
  