.account{
    &__image{
        width: 100%;
    
        &-box{
            width:300px;
            height: 300px;
            border: 1px solid black;
            border-radius: 50%;
            // padding: 6rem;
            background-image: url("../admin/images/2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
         grid-row: 1/1;
         grid-column: 1/4;
            margin: 0 auto;
        }
    }
    &__imginput{
        position:absolute;
        top:218px;
        left: 283px;
    }  &__imgbtn{
        position:absolute;
        top:248px !important;
        left: 278px !important;
    }

    &__details{
justify-content: center;
        font-family: Alegreya;
        font-size: 3rem;
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(3,minmax(max-content,max-content));

        
    }

    &__cards{
        display: grid;
       
       
        grid-template-columns: repeat(3,minmax(1fr,20px));
        grid-template-rows: 1fr ;
        grid-gap: 2rem;
    }
    &__form{
        position: relative;
    }
    &__form > input[type="text"] , &__form > input[type="email"] , &__form > input[type="password"] {
    
            width: 100%;
            height: 72%;
         
            /* border-radius: 9px; */
            background: transparent;
            border: none;
            font-size: 3rem;
            font-family: Alegreya;
    
    }
    &__form > input[type="submit"] {
        
            position: absolute;
            right: -13px;
            top: 5px;
            padding: 4px;
            border-radius: 13px;
            background: green;
        

}
}