.bi-star-fill{
    stroke: black;
    fill: yellow;
    width: 2rem;
    height: 2rem;
}

.productD{
    grid-column: 3/3;
    &__price{
        font-family: Roboto;
        padding-top: 2rem;
        font-size: 3rem;
        color: orangered;
        border-bottom: 1px solid black ;
        margin-bottom: 2rem;
    }
    &__sizes{
        margin-top: 2rem;
        margin-bottom: 3rem;
        display: inline-block;
       
    }

   &__button{
       width: 100%;
       margin-top: 3rem;
   }
  
}

.productF{
    grid-column: 1/-1;

    &__details + p,  &__details + h3 {
        font-family: Algreya;

        font-style: italic;
        padding: 2rem;
        font-size: 3rem;
        word-spacing: 5px;
    }
}