.section-account{
   
    margin: 2.5rem auto;

    padding: 10rem 20rem;
    background-image: repeating-linear-gradient(135deg, rgba(0,0,0,0.03) 0px, rgba(0,0,0,0.03) 2px,transparent 2px, transparent 4px),linear-gradient(45deg, rgba(18, 105, 233,0.5),rgba(166, 255, 155,0.5)) , url('../img/account.jpg');
    background-size: cover;
    width: 70vw;
    border-radius: 10px;
    
}