.section-address{
    margin: 50px; 
   
}
.address__wrapper{
    margin-top:6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,30rem));
    grid-gap: 4rem;
    font-size: 1.5rem;
}
.address__seleceted{
    position: absolute;
    top: -3rem;
    left: 0;
    font-weight: bold;
    font-size: 2rem;
    color: red;
}
.address__card{  
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    position: relative;
    border-radius: 10px;
 
    & > a{
        padding: 10px;
        color: green;
        text-decoration: none;
    }
    
}

.address__card:not(:last-child){
    background-image: radial-gradient(circle at center center, rgba(23,23,23,0),rgb(23,23,23)),repeating-linear-gradient(135deg, rgb(23,23,23) 0px, rgb(23,23,23) 4px,transparent 4px, transparent 6px),repeating-linear-gradient(45deg, rgb(43,43,43) 0px, rgb(43,43,43) 3px,transparent 3px, transparent 6px),linear-gradient(90deg, rgb(23,23,23),rgb(23,23,23));
color: white;
}
.address__card:last-child svg{

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.section-credit{
    margin: 50px; 
   
}
.credit__wrapper{
    margin-top:6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    grid-gap: 4rem;
    font-size: 1.5rem;
}